@import url(./head.css);
@import url(./editor.css);
.center{
    width: 386px;
    float: left;
    height: 100%;
}
.panel-posts{
    overflow: hidden;
}
.panel-posts-body {
    height: 100%;
    background-color: #fff;
    overflow: hidden;
}
.panel-title{
    position: relative;
    
}
.panel-title span{
    color: #333;

    margin-left: 15px;
}
.panel-title button{
    position: absolute;

    top: 12px;
    right: 15px;
    margin: 0;
}
.item-img{
    position: relative;
    transition: .2s;
    padding: 10px;
}
.item-img img{
    width: 100%;

}
.item-img:hover{
    background-color: #f5f5f5;
}
.item-img:hover .close{
    display:block
}
.item-img .close{
    width: 28px;
    
    height: 28px;
    position: absolute;
    /* display: none; */
    right: 10px;
    top: 10px;
    background-color: #333;
    text-align: center;
    line-height: 28px;
    color: #fff;
    cursor: pointer;
}
.mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
}

.mask-panel {
    width: 800px;
    height: 600px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    margin-left: -400px;
    top: 50%;
    margin-top: -300px;
}

.mask-title {
    height: 44px;
    line-height: 44px;
    background-color: #fe9a5f;
    color: #fff;
    padding-left: 15px;
    box-sizing: border-box;
}

.mask-body {
    padding: 25px 30px 18px;
    box-sizing: border-box;
}

button.btn {
    padding: 5px 25px;
    border-radius: 5px;
    outline: none;
    border: none;
}

button.btn.cancel {
    color: #999;
    border: #999 solid 1px;
    background-color: #fff;
}

button.btn.confirm {
    color: #fff;
    background-color: #fe995f;
    border: #fe995f solid 1px;
}

.mask-btn {
    float: right;
    margin-right: 14px;
}

.mask-footer {
    padding: 0 15px;
}

.mask-info {
    float: left;
}

.tabs-content {
    border: #fe995f solid 1px;
    height: 435px;
    padding: 15px;
    margin-top: -1px;
    box-sizing: border-box;
}
.img_fluid {
    float: left;
    margin-left: 30px;
    margin-top: 30px;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
}
.tabs a {
    padding: 10px 25px;
    border: #fff solid 1px;
    border-bottom: #fe9a5f solid 1px;
    /* border-left: #fe9a5f solid 1px; */
    z-index: 3;
    /* background-color: #fff; */
    display: block;
    float: left;
    /* margin-right: -1px; */
    color: #999;
}

.tabs a:first-child {
    margin-left: 0;
}

.tabs a:hover,.tabs a.active {
    border: #fe9a5f solid 1px;
    border-bottom: #fff solid 1px;
    /* border-right: #fff solid 1px; */
}span.num-pic {
    color: #fe995f;
    font-size: 20px;
    margin-right: 5px;
}

.mask-info {
    padding-left: 15px;
}