* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
html, body {
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    background-image: url(/assets/images/bg.png);
    background-repeat: no-repeat;
}
.logo {
}
.list-group {
    margin-left: 520px;
    background-color: #333;
}
.list-group-item {
    float: left;
    width: 79px;
    height: 60px;
    color: #fff;
    line-height: 100%;
    cursor: pointer;
}
.clear:after {
    display: table;
    content: " ";
    clear: both;
}
.list-group-item .desc {
    display: none;
    background-color: #fe9a5f;
    height: 100%;    /* opacity: .3; */
    position: relative;
    top: 0px;
}
.list-group-item .desc span {
    display: block;
    width: 100%;
    text-align: center;
}
.list-group-item .desc i {
    width: 32px;
    height: 38px;
    display: block;
    background-position: center 8px;
    margin: 0 auto;
    position: relative;
    background-repeat: no-repeat;
}
.list-group-item .icon {
    width: 100%;
    height: 60px;
    background-position: center center;
    background-repeat: no-repeat;
}
.list-group-item:hover .desc, .list-group-item.active .desc {
    display: block;
}
.list-group-item:hover .icon, .list-group-item.active .icon {
    display: none;
}
.item-editor .icon, .item-editor .desc i {
    background-image: url(/assets/images/nav/editor.png);
}
.item-doc .icon, .item-doc .desc i {
    background-image: url(/assets/images/nav/doc.png);
}
.item-style .icon, .item-style .desc i {
    background-image: url(/assets/images/nav/style.png);
}
.item-data .icon, .item-data .desc i {
    background-image: url(/assets/images/nav/data.png);
}
.item-user .icon, .item-user .desc i {
    background-image: url(/assets/images/nav/user.png);
}
.main{
    width: 100%;
    height: 100%;
}
.main .left{
    height: 100%;
    width: 140px;
    background-color: #666;
    float: left;
}
.main .left .menu{
    margin-top: 40px;
}
.main .left .menu .menu-item-1{
    box-sizing: border-box;
    padding-left: 25px;
}
.main .left .menu-2{
    /* padding-left: 50px; */
}
.main .left .menu-2 .menu-item-2{
    box-sizing: border-box;
    padding-left: 50px; */;
}
.main .left li a{
    width: 100%;
    height: 100%;
    display: block;
    line-height: 60px;
    color: #fff;
}
.main .left li.active, .main .left li:hover{
    background-color: #333;
}
.main .left .menu-item-2 a{
    line-height: 36px;
    font-size: 14px;
}
.main .left .pre-icon{
    width: 16px;
    height: 60px;
    display: inline-block;
    background-position: left center;
    background-repeat: no-repeat;
    float: left;
    padding-right: 8px;
}
.main .left .pre-import{
    background-image: url(/assets/images/menu/icon-import.png);}
.main .left .pre-edit{
    background-image: url(/assets/images/menu/icon-edit.png);}
.main .left .pre-img{
    background-image: url(/assets/images/menu/icon-img.png);}
.main .left .pre-doc{
    background-image: url(/assets/images/menu/icon-doc.png);}

.author{
    position: absolute;
    left: 0;
}
.btn-import{
    margin-top: 22px;
    font-size: 14px;
    border: #fa9b5b solid 1px;
    border-radius: 5px;
    text-align: center;
    width: 81px;
    line-height: 30px;
    color: #fa9b5b;
    background-color: #fff;
}
.center{
    float: left;
}
.close{
    position: absolute;
    right: 20px;
    top: 12px;
}
.date{
    margin-left: -48px;
}
.link{
    position: absolute;
    right: 24px;
}
.list-group-posts{
    padding-left: 15px;
}
.panel-import{
    width: 386px;
    background-color: #fff;
    padding-top: 51px;
    box-sizing: border-box;
    opacity: .5;
    padding-left: 15px;
    height: 169px;
    box-shadow: rgba(0,0,0,.4) 1px 2px 8px;
}
.panel-import input{
    width: 350px;
    height: 34px;
}
.panel-posts{
    margin-top: 12px;
    background-color: #fff;
    opacity: .5;
}
.panel-posts-body{}
.panel-title{
    padding-left: 15px;
    line-height: 54px;
    color: #fa9b5b;
}
.posts-item{}
.posts-item-body{}
.posts-item-foot{
    margin-top: 24px;
    font-size: 12px;
    position: relative;
    padding-bottom: 12px;
    text-align: center;
}
.posts-item-head{
    position: relative;
}
.posts-item-title{
    line-height: 46px;
}
.list-group-posts.active{
    background-color: #999;
}
